﻿
@using OpenAI_API
@using OpenAI_API.Chat;
@using OpenAI_API.Completions;
@using OpenAI_API.Models;
@using System.Text;
@using System.ComponentModel.DataAnnotations;
@using System.Windows.Input;

@page "/chat"
@inject IUserData userData;

<PageTitle>GPT Chat</PageTitle>

<div class="row">
    <div class="container form-group mb-3">
        <h3>Chat @chatInfo.Name</h3>
        <label class="text-black">Chat name</label>
        <input type="text" class="text-info" @bind=chatInfo.Name />
@*        <label class="text-black">Assistant role</label>
        <input type="text" class="text-info" @bind-value=asistantRole />
        @{
            if (asistantRole != "")
                ThisChat.AppendSystemMessage(asistantRole);
            //asistantRole = "";
        }
*@    </div>
</div>

<div class="container border border-3 border-dark overflow-auto" style="height: 600px">
    <ChatList ChatList1="ChatList" >
        <StreamData>
            @streamResult
        </StreamData>
    </ChatList>
</div>
<div class="row">
    <FaceChanger ChooseFace="AppointFace" Face="@activeFace"/>
</div>
<div class="row">
    <div class="col col-11 d-inline-block">
        <EditForm Model=@Message class="form-text align-baseline" OnSubmit="NewMessage">
            <label for="message">
                <span class=@GetSpanClass(activeFace) />
            </label>
            <InputText class=@GetInputClass(activeFace) id="message" @bind-Value="Message" />
            <button class="mb-3 btn btn-outline-primary" type="submit">Send</button>
        </EditForm>
    </div>
    <div class="col">
        <TemperHandle MinusTemperature="Decrease" PlusTemperature="Increase" Temperature="temperature"/>
    </div>
</div>


@code {

    ChatInfo chatInfo = new ChatInfo();
    public OpenAI_API.Chat.Conversation ThisChat { get; set; }

    [Required]
    [MinLength(2)]   
    string Message { get; set; } ="";
    double temperature = 0.1;
    public int activeFace = 1;
    protected StringBuilder streamResult = new("");

    OpenAIAPI gptAPI;

    public ChatForm()
    {
        userData = new User();
        string key = userData.GetKey(0);
        if (key == "") Console.WriteLine("Key error");
        gptAPI = new OpenAIAPI(key);
        ThisChat = gptAPI.Chat.CreateConversation();
    }

    Chat CurrentChatRecord { get; set; }
    List<Chat> ChatList { get; set; } = new();


    async void NewMessage()
    {
        if (Message != "")
        {
            //ThisChat.AppendUserInput(message);
            Chat myChat = new() { Date = DateTime.Now, FaceCode = activeFace, Content = Message, Temperature = temperature };
            Message = "";
            CurrentChatRecord = null;
            ChatList.Add(myChat);
            StateHasChanged();
            //    var response = gptAPI.Chat.CreateChatCompletionAsync(myChat.Content);

            //    var result = await gptAPI.Chat.CreateChatCompletionAsync(new ChatRequest()
            //        {
            //            Model = Model.ChatGPTTurbo,
            //            Temperature = 0.1,
            //            MaxTokens = 50,
            //            Messages = new ChatMessage[] {
            //    new ChatMessage(ChatMessageRole.User, "Hello!")
            //}
            //        });
            switch (activeFace)
            {
                case 1:
                    {
                        await foreach (var item in gptAPI.Completions.StreamCompletionEnumerableAsync(
                                        new CompletionRequest(myChat.Content,
                                        Model.DavinciText, 1000, temperature, presencePenalty: 0.1, frequencyPenalty: 0.1)))
                            if (item is not null)
                            {
                                streamResult.Append(item.ToString());
                                refresh += Refresh;
                            }
                        //var response = await ThisChat.GetResponseFromChatbotAsync();
                        myChat = new() { Date = DateTime.Now, FaceCode = 2, Content = streamResult.ToString() };
                        streamResult = new StringBuilder();
                        ChatList.Add(myChat);
                        //response = "";

                        StateHasChanged();
                        break;
                    }
                case 3:
                    {
                        ThisChat.AppendExampleChatbotOutput(myChat.Content);  //if example for assistant
                        activeFace = 1;
                        break;
                    }
                case 4:
                    {
                        ThisChat.AppendUserInput(myChat.Content);  //if User's example
                        activeFace = 3;
                        break;
                    }
                case 0:
                    {
                        ThisChat.AppendSystemMessage(myChat.Content);  //if System
                        activeFace = 1;
                        break;
                    }
            }
        }

    }
    public void Refresh() => StateHasChanged();
    delegate void RefreshFragment();
    RefreshFragment refresh;


    void Decrease()
    {
        if (temperature >= 0.1) temperature = Math.Round(temperature-0.1, 1);
    }

    void Increase()
    {
        if (temperature <= 1.9) temperature = Math.Round(temperature + 0.1, 1);
    }

    void AppointFace(int face) => activeFace = face;

    string GetInputClass(int activeFace) => activeFace switch
    {
        0 => "container text-uppercase fw-bold text-warning",
        1 => "container font-monospace fw-bold text-info",
        3 => "container fw-bold text-secondary",
        4 => "container fw-bold text-success text-decoration-underline",
        _ => ""
    };

    string GetSpanClass(int activeFace) => activeFace switch
    {
        0 => "mb-2 fs-4 oi oi-aperture text-warning",
        1 => "mb-2 fs-4 oi oi-person text-info",
        3 => "mb-2 fs-4 oi oi-arrow-circle-top text-secondary",
        4 => "mb-2 fs-4 oi oi-people text-success",
        _ => ""
    };

    //void HandleDown(object sender, KeyboardEventArgs e)
    //{
    //    if (e.Key == "Key.Down")
    //    {
    //        DateTime current;
    //        if (CurrentChatRecord is null)
    //            current = DateTime.Now;
    //        else current = CurrentChatRecord.Date;
    //        try
    //        {
    //            CurrentChatRecord = ChatList.FindLast(x => x.FaceCode == activeFace && x.Date < current);
    //            Message = CurrentChatRecord.Content;
    //            current = CurrentChatRecord.Date;
    //        }
    //        catch
    //        { }

    //        message.Element.Value.FocusAsync();
    //    }
    //}

}
