﻿@foreach (var item in ChatList1)
{
    @switch (item.FaceCode)
    {
        case 1:
                spanClass = "oi oi-person";
                cssClass = "bg-info text-dark";
                break;
        case 2:
                spanClass = "oi oi-cloud-download";
                cssClass = "bg-dark text-light";
                break;
        case 3:
                spanClass = "oi oi-arrow-circle-top";
                cssClass = "bg-secondary text-light";
                break;
        case 0:
                spanClass = "oi oi-aperture";
                cssClass = "bg-warning text-light";
                break;
        case 4:
                spanClass = "oi oi-people";
                cssClass = "bg-success text-light";
                break;
    }
    <div class=@cssClass>
        <span class=@spanClass/>
        @StreamData
        @item.Content
    </div>
}

@code {
    [Parameter]
    public List<Chat> ChatList1 { get; set; }
    [Parameter]
    public RenderFragment StreamData { get; set; }
    string? cssClass, spanClass;
}
