﻿<div class="container btn-group mt-2">
        <input type="radio" class="btn-check " name="options" id="option1" autocomplete="off" checked="@Face==1"
                @onchange="@(() => ChooseFace.InvokeAsync(1))">
        <label class="btn btn-outline-info" for="option1">
            You 
            <span class="oi oi-person"/>
        </label>

        <input type="radio" class="btn-check " name="options" id="option3" autocomplete="off" checked="@Face==3"
                @onchange="@(() => ChooseFace.InvokeAsync(3))">
        <label class="btn btn-outline-secondary" for="option3">
            Assistant's example 
            <span class="oi oi-arrow-circle-top"/>
        </label>

        <input type="radio" class="btn-check " name="options" id="option0" autocomplete="off" checked="@Face==0"
                @onchange="@(() => ChooseFace.InvokeAsync(0))">
        <label class="btn btn-outline-warning" for="option0">
            System
            <span class="oi oi-aperture" />
        </label>

        <input type="radio" class="btn-check " name="options" id="option4" autocomplete="off" checked="@Face==4"
                @onchange="@(() => ChooseFace.InvokeAsync(4))">
        <label class="btn btn-outline-success" for="option4">
            User's example 
            <span class="oi oi-people"/>
        </label>

@*        Last button doesn't work with out this last item
*@        <input type="radio" class="btn-check " name="options" id="option4" collapsed autocomplete="off" checked="@Face==4"  
                @onchange="@(() => ChooseFace.InvokeAsync(4))">
</div>

@code {
    [Parameter]
    public int Face { get; set; }

    [Parameter]
    public EventCallback<int> ChooseFace { get; set; }
}
