﻿<div class="mt-2 border border-4 d-block p-2">
    <button class="mb-1 btn btn-outline-info" @onclick="(() => MinusTemperature.InvokeAsync(Temperature))">
        <span class="oi oi-minus"  />
    </button>
    @Temperature
    <button class="mt-1 btn btn-outline-danger" @onclick="(() => PlusTemperature.InvokeAsync(Temperature))">
        <span class="oi oi-plus"/>
    </button>
</div>

@code {
    [Parameter]
    public double Temperature { get; set; }

    [Parameter]
    public EventCallback<double> MinusTemperature { get; set; }

    [Parameter]
    public EventCallback<double> PlusTemperature { get; set; }

}
